body {
    padding: 0;
    margin: 0;
    background-color: #0E0B16;
}

h1 {  
    color: lightgray;
    text-align: center;
    padding: 30px;
}

h2 {
    color: lightgray;
    text-align: center;
    padding-top: 15px;
}

#pie-chart, #other-pie-chart {
    font-weight: bold;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    position: relative; 
    z-index: 1; 
}

.svg-container {
    display: flex;
    flex-direction: column;
    position: relative; 
}

.bar-container,  .pie-container{
    border: 1px solid lightslategray;
    border-radius: 5%;
    background-color: gray;
    background-position: contain;
    width: 50;
    margin-bottom: 20px;

.bar {
    fill: rgb(141, 211, 199);
}

svg#bar-chart {
    display: block;
    margin: auto;
}